// --------------------------------------------------------------
// Colors
// --------------------------------------------------------------

$brand-primary:      #317682;
$brand-secondary:    #d3e9ec;

$black: #0e0000;
$blue:  #1c355f;
$gray:  #8f8f8f;
$red:   #af1337;
$white: #ffffff;
