.tour {
  @include wrapper();
}

.tour__header,
.tour__section {
  display: flex;
  flex-direction: column;
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;
  margin-bottom: $spacing-2;
}

.tour__sub-header {
  align-self: center;
}
