<ul class="slider">
  <li id="slide-1" class="slider__card" >
    <%= image_tag "singapore.jpg", class: "slider__image" %>
  </li>
  <li id="slide-2" class="slider__card">
    <%= image_tag "singapore.jpg", class: "slider__image" %>
    <%#= video_tag "singapore.jpg", class: "slider__video", poster: "singapore.jpg" %>
    <div class="slider__video-button">
      <%= inline_svg_tag "icons/button_play.svg", class: "button-play" %>
    </div>
  </li>
  <li id="slide-3" class="slider__card">
    <%= image_tag "singapore.jpg", class: "slider__image" %>
  </li>
</ul>
