<div class="slider-nav" data-turbolinks="false">
  <%= link_to "", tour_path(tour, anchor: "slide-1" ), class: "slider-nav__item" %>
  <%= link_to "", tour_path(tour, anchor: "slide-2" ), class: "slider-nav__item" %>
  <%= link_to "", tour_path(tour, anchor: "slide-3" ), class: "slider-nav__item" %>
</div>
