<div class="slider">
  <div class="slider__card">
    <%= image_tag "singapore.jpg", class: "slider__image" %>
  </div>
  <div class="slider__card">
    <%= image_tag "singapore.jpg", class: "slider__image" %>
    <div class="slider__button">
      <%= inline_svg_tag "icons/button_play.svg", class: "button-play" %>
    </div>
  </div>
  <div class="slider__card">
    <%= image_tag "singapore.jpg", class: "slider__image" %>
  </div>
</div>
