<ul class="list">
  <li class="list__item">
    <span class="list__icon"><i class="icon fas fa-check-circle"></i></span>
    <p>0% Instalment payment</p>
  </li>
  <li class="list__item">
    <span class="list__icon"><i class="icon fas fa-check-circle"></i></span>
    <p>$200 Deposit</p>
  </li>
  <li class="list__item">
    <span class="list__icon"><i class="icon fas fa-check-circle"></i></span>
    <p>24/7 Support</p>
  </li>
  <li class="list__item">
    <span class="list__icon"><i class="icon fas fa-check-circle"></i></span>
    <p>No booking fee</p>
  </li>
  <li class="list__item">
    <span class="list__icon"><i class="icon fas fa-check-circle"></i></span>
    <p>Free cancellation & changes up to 45 days prior </p>
  </li>
</ul>
