.button {
  color: $brand-primary;
  background-color: $brand-secondary;
  padding: $spacing-3 $spacing-6;
  border-radius: 6px;
  box-shadow: 0 2px 14px rgba(126, 87, 88, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  font-weight: $font-semibold;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
