.slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.slider__card {
  position: relative;
  flex: 0 0 auto;
  height: 256px;
  width: 95%;
  margin-right: $spacing-2;
}

.slider__image {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 6px;
}

.slider__button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
